/*
 * we use css to style our page and our svg elements
 * the classes/ids defined here must match our d3 code
 */


textarea {
  /* position the textarea on top of the svg */
  position: fixed;
  top: 5px;
  left: 5px;

  margin: 0px;
  padding: 5px;

  width: 400px;
  height: 75px;

  /* try changing this color in blockbuilder! */
  background-color: rgba(255, 255, 255, 0.8);
}

textarea {
  border: 1px solid gainsboro;
  border-radius: 10px;
}

svg#viz {
  /* bl.ocks.org defaults to 960px by 500px */
  width: 960px;
  height: 500px;

  background-color: white;
}

svg#legend {
  /* Just copying the size of the legend in tableau */
  width: 160px;
  height: 500px;

  background-color: white;
}

/* svg elements are styled differently from html elements */

rect.bar {
  stroke: none;
}

.legend-title {
  font-weight: bold;
  font-size: 10pt;
}

.legend-squares {
  border: 1px;
}

.legend-labels {
  font-size: 10pt;
}

.axis-title {
  font-weight: bold;
  fill: black !important;
}

#x-axis text,
#y-axis text {
  font-size: 10pt;
  fill: #888888;
}

#x-axis line {
  /* tick marks */
  fill: none;
  stroke: none;
}

#x-axis path,
#y-axis path,
#y-axis line {
  fill: none;

  stroke: #bbbbbb;
  stroke-width: 1px;
}